@import "../variables.scss";
@import "../typography.scss";

.test-component {
  @include font-defaults;
  padding: 16px;
  width: 360px;
  text-align: center;

  .header {
    @include header;
  }

  .body {
    @include body;
  }
  
  &.test-component-primary {
    background-color: $color-black;
    border: 1px solid $color-black;
    color: $color-white;
  }

  &.test-component-secondary {
    background-color: none;
    border: none;
    color: $color-black;
  }

  &.test-component-pink {
    background-color: $color-pink;
    border: 1px solid $color-pink;
    color: $color-white;
  }

  &.test-component-ghost-black{
    background-color: none;
    border: 1px solid $color-black;
    color: $color-black;
  }

  &.test-component-ghost-white {
    background-color: $color-pink-light;
    border: 1px solid $color-white;
    color: $color-white;
  }
}
