@import "~fontsource-metropolis/index.css";

$font-family: "Metropolis";

@mixin font-defaults {
  font-family: $font-family;
}

@mixin header {
  @include font-defaults;
  font-weight: 500 (semibold);
  text-transform: uppercase;
  line-height: 1.4em;
  letter-spacing: .25em;
}

@mixin body {
  @include font-defaults;
  font-weight: 300 (light);
  text-transform: none;
  line-height: 1.7em;
  letter-spacing: .125em;
}
